# The name of the Kubernetes namespace that Amphitheatre is
# currently running in, the default is `amp-system`
AMP_NAMESPACE=amp-system

# The name of the ServiceAccount that Amphitheatre is
# currently using, the default is `default`.
AMP_SERVICE_ACCOUNT_NAME=default

# The Server port.
AMP_PORT=8170
